<div class="container" style="padding-top: 220px;">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="red">Nouveau Semestre</h2>
      <%= render 'form', semester: @semester %>
    </div>
  </div>
</div>