<div class="container" style="padding-top: 130px; padding-bottom: 180px;">	
    <h5>This webiste does not share personal information with third parties nor do we store any information about your visit to this blog other than to analyze and optimize your content and reading experience through the use of cookies.</h5>
    <h5>You can turn off the use of cookies at anytime by changing your specific browser settings.</h5>
    <h5>We are not responsible for republished content from this webiste on other websites without our permission.</h5>
</div>