<footer id="footer" class="footer">
<div class="container">
    <div class="main_footer">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="copyright_text">
                    <p class=" wow fadeInRight" data-wow-duration="1s">Made by <a href="http://gingfreccs.pro/" target="_blank">Ging Freccs</a> 2018 &copy; All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>
