<footer class="footer-policy">
    <div class="container text-center">
        <p style="font-family: HelveticaRoundedLTStd-Bd">consultez notre politique de confidentialite</h6>
    </div>  
</footer>
