

<!-- Footer Section -->

<footer>
     <div class="container">
          <div class="row">



               <div class="col-md-12 col-sm-12">
                    <ul class="social-icon">
                         <li><a href="https://www.facebook.com/univercourscom/" target="_blank" class="fa fa-facebook"></a></li>
                         <li><a href="https://www.instagram.com/univercours/" target="_blank" class="fa fa-instagram"></a></li>
                         <li><a href="https://www.youtube.com/channel/UCNJYbuyj0fkrb4u8v0Oifcw" target="_blank" class="fa fa-youtube"></a></li>
                    </ul>
                    <div class="footer-copyright text-center">
                         <p>&copy; 2019 Univercours - Design: <%= link_to "Ayoub Gharbi", "#" %></p>
                    </div>
               </div>
               
          </div>
     </div>
</footer>

<!-- Back top -->
<a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>
